#contents
  .inner
    %section
      %h2
        おいしい飯
        %span List of Reccomendations
      %table.table
        %thead
          %tr
            %th
            %th 名前
            %th うまいポイント
            %th けんこうポイント
            %th おしゃれポイント
            %th
          - @stores.each do |store|
            %tbody
              %tr
                %td.store-img
                  = image_tag store.image_url(:square_md), {:style => "width: 100px"} if store.image.present?
                %td= store.name
                %td= store.delicious
                %td= store.health
                %td= store.fashonable
                %td= link_to '詳細', store_path(store.id), class:'btn btn-info'

        -#
        -# - @stores.each do |store|
        -#     = link_to store_path(store.id) do
        -#       .store-box
        -#         - if store.image.present?
        -#           = image_tag store.image_url(:square_md), class: 'store-img'
        -#         = store.name
        -#         .top-condition
        -#           %p うまいポイント
        -#           = store.delicious
        -#         .second-condition
        -#           %p けんこうポイント
        -#           = store.health
        -#         .therd-condition
        -#           %p おしゃれポイント
        -#           = store.fashonable
