#contents
  .inner
    %section
      %h2
        けんこう飯
        %span List of Reccomendations
      %ul
      %table.table
        %thead
          %tr
            %th
            %th 名前
            %th けんこうポイント
            %th おしゃれポイント
            %th うまいポイント
            %th
          - @stores.each do |store|
            %tbody
              %tr
                %td.store-img
                  = image_tag store.image_url(:square_md), {:style => "width: 100px"}
                %td= store.name
                %td= store.health
                %td= store.fashonable
                %td= store.delicious
                %td= link_to '詳細', store_path(store.id), class:'btn btn-info'
